{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 110,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": ["^react", "<THIRD_PARTY_MODULES>", "^@", "^[./]"],
  "importOrderSeparation": true,
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "singleAttributePerLine": false
}
