
td {
  border-left: none!important;
  border-right: none!important;
  border-top: none!important;
}

th {
  border: none!important;
}

tr {
  border: none!important;
}

table thead, tr {
  background-color: inherit!important;
}